extends base

block content 
    section.section-header
     .header__hero
         .header__hero-overlay &nbsp;
            img.header__hero-img(src=`/img/${city.Cityimage}`, alt=`${city.Name}`)

     .heading-box
        h1.heading-primary
        span= city.Name
        

    section.section-description

        .description-box
        h2.heading-secondary.ma-bt-lg= `All you need to know, Before you go: - ${city.Name}`    
        p.description__text= `${city.Description}`

    section.section-reviews
        h1 What's the word on the street?
        h4= `${city.Name} reviews`
        .reviews
          each review in city.reviews  
            .reviews__card
             .reviews__avatar
                img.reviews__avatar-img(src=`/img/users/${review.user.photo}`, alt=`${review.user.name}`)
                h6.reviews__user= review.user.name
             p.reviews__text= review.review

