extends base

block content
    //-Rendering out all cities, using a city template that mirrors the schema and model created for the cities in the database. 

    main.main 
            .card-container
                 each city in cities
                    .card 
                        .card__header 
                            .card__picture 
                                .card__picture-overlay &nbsp;
                                img.card__picture-img(src=`/img/${city.Cityimage}` alt=`${city.Name}`)
                            h3.heading-tertirary 
                                span= city.Name

                        .card-details 
                        //-     h4.card__sub-heading= `${tour.difficulty} ${tour.duration}-day tour`  
                        //-     p.card__text= tour.summary
                        //- .card__data 
                        //-     svg.card__icon 
                        //-         use(xlink:href="/img/icons.svg#icon-map-pin")
                        //-     span= tour.startLocation.description   
                        .card__data 
                        //-     svg.card__icon 
                        //-         use(xlink:href="/img/icons.svg#icon-calendar")
                        //-     span= tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
                        //- .card__data 
                        //-     svg.card__icon 
                        //-         use(xlink:href="/img/icons.svg#icon-flag")
                        //-     span= `${tour.locations.length}stops`
                            
                        //- .card__data 
                        //-     svg.card__icon 
                        //-         use(xlink:href="/img/icons.svg#icon-user")
                        //-     span= `${tour.maxGroupSize}`

                        .card__footer
                    
                            a.btn.btn--orange.btn--small(href=`/city/${city.slug}`) Details
